@{
    ViewBag.Title = "About Us";
    ViewBag.Mission = "Mission";
    ViewBag.Vision = "Vision";
    ViewBag.Advertisement = "Advertisement";
}

<h3 style="text-align:center"><b>@ViewBag.Title</b></h3>

<div class="col-md-5">
    <h4><b>@ViewBag.Title</b></h4>
    <p>
        “We want to be a hub for innovation activity where technologists, investors, designers, innovators and dreamers can all meet, collaborate, share and create
        new ideas and new businesses,” he adds.“StarSpace46 wants to help create a “digital bridge” between communities in Oklahoma,” he adds. “This would allow a
        real time syndication of programming and content to multiple communities between not just Tulsa and OKC, but to all communities in Oklahoma.”
        The space has already drawn some of the state’s most exciting young companies. Nodecraft is a local hosting service, while Monscierge, a hospitality
        software solution that has won over $6.5m in venture capital, is helping build StarSpace46’s digital infrastructure. Techlahoma, another local association,
        has been instrumental in the project.So excited is OKC’s city hall with StarSpace46, that it is hoping to revamp the entire district around it. Yi believes
        it could be a new “Tech Row” for the city many simply call “The 405”.<br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
    </p>
</div>

<div class="col-md-4">
    <h4><b>@ViewBag.Mission</b></h4>
    <p>
        “We want to be a hub for innovation activity where technologists, investors, designers, innovators and dreamers can all meet, collaborate, share and create
        new ideas and new businesses,” he adds.“StarSpace46 wants to help create a “digital bridge” between communities in Oklahoma,” he adds. “This would allow a
        real time syndication of programming and content to multiple communities between not just Tulsa and OKC, but to all communities in Oklahoma.”
        The space has already drawn some of the state’s most exciting young companies. Nodecraft is a local hosting service, while Monscierge, a hospitality
        software solution that has won over $6.5m in venture capital, is helping build StarSpace46’s digital infrastructure. Techlahoma, another local association,
        has been instrumental in the project.So excited is OKC’s city hall with StarSpace46, that it is hoping to revamp the entire district around it. Yi believes
        it could be a new “Tech Row” for the city many simply call “The 405”.
    </p>
    <h4><b>@ViewBag.Vision</b></h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
    </p>
</div>

<div class="col-md-3">
    <h4><b>@ViewBag.Advertisement</b></h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
    </p>
</div>


    
